APP_URL=testing_platform_url

//for register/login email
TEST_EMAIL=testing_email
TEST_PASSWORD=testing_password
TEST_NAME=testing_name

//for email OTP
GMAIL_USER=receiveremail
GMAIL_APP_PASSWORD=apppassword